*{
    margin: 0;
    padding: 0;
}

.item1{
    width: 50%;
    height: 500px;
    background-color: royalblue;
    float: left;
}

.item2{
    width: 30%;
    min-height: 500px;
    background-color: darkgoldenrod;
    float: left;
}

.item3{
    width: 20%;
    min-height: 500px;
    background-color: darkgreen;
    float: left;
}
section{
    background-color: darkgray;
    /* overflow: hidden; */
}