*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.bg{
    height: 50vh;
    width: 50vh;
    background-color: transparent;
    border: 4px solid red;
    padding: 30px;
    background-color: #777;
    background-repeat: no-repeat;
    background-image: url(1.JPG);
    background-size: contain;
    background-position: center;
    /* background-position: 0 50px; */
    /* background-image: url(ptak_maly.JPG);
    background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-image: url(https://cdn.pixabay.com/photo/2020/01/03/13/49/grass-4738141_960_720.jpg); */
    /* background-image: url("1.jpg"); */
    /* background-image: url(ptak_maly.JPG), url(2.jpg);
    background-repeat: repeat-x, no-repeat; */
    /* background-image: url(ptak_maly.JPG);
    background-repeat: no-repeat; */
    /* background-position: 50%, 50%; */
    /* background-position: -30%, 50%; */
    /* background-image: url(ptak_maly.JPG), url(ptak_maly.jpg);
    background-position: 30%;
    /* background-repeat: no-repeat; */
    /* background-position: 0% 0%, 100% 100%; */
    /* background-repeat: repeat; */ 

}

/* .bg{
    height: 50vh;
    width: 50vh;
    background-color: transparent;
    border: 4px dotted red;
    padding: 10px;
    /* background-color: #333; */
    /* background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    color: white; */
    /* opacity: 0.2; */

} */

button{
    background-color: transparent;
}