*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 300vh;
}

.bg{
    height: 50vh;
    width: 50vh;
    border: 4px solid transparent;
    padding: 30px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-image: url(img/ptak_maly.JPG);
    background-origin: padding-box;
    /* background-clip: content-box; */
    background-clip: border-box;
    background-color: salmon;



    /* background-color: transparent; */
    /* background-color: #777;
    background-image: url(3.JPG); */
    /* background-attachment: scroll; */
    /* background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    /* background-position: 0 50px; */
    /* background-image: url(img/ptak_maly.JPG);
    background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-image: url(https://cdn.pixabay.com/photo/2020/01/03/13/49/grass-4738141_960_720.jpg); */
    /* background-image: url("img/1.jpg"); */
    /* background-image: url(img/ptak_maly.JPG), url(img/2.jpg);
    background-repeat: repeat-x, no-repeat; */
    /* background-image: url(img/ptak_maly.JPG);
    background-repeat: no-repeat; */
    /* background-position: 50%, 50%; */
    /* background-position: -30%, 50%; */
    /* background-image: url(img/ptak_maly.JPG), url(img/ptak_maly.jpg);
    background-position: 30%;
    /* background-repeat: no-repeat; */
    /* background-position: 0% 0%, 100% 100%; */
    /* background-repeat: repeat; */ 

}

/* .bg{
    height: 50vh;
    width: 50vh;
    background-color: transparent;
    border: 4px dotted red;
    padding: 10px;
    /* background-color: #333; */
    /* background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    color: white; */
    /* opacity: 0.2; 
}*/



button{
    background-color: transparent;
}