html{
    font-family: arial;
    color: white;
}

.first{
    background-color: rgb(255, 0, 0);
    width: 50vw;
    margin: 0 auto;
}

.second{
    background-color: rgb(61, 61, 167);
    height: 20vw;
    margin-top: 100px;
}

.first p{
    font-size: 2rem;
}
.second p{
    font-size: 1.5rem;
}