

button{
    background-color: #fff;
    border:2px dashed black ;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    display: block;
    margin: 100px auto 0 auto;
    transition: 0.3s;
    width: 40%;
}

button:hover{
    background-color: black;
    color: #ddd;
}